<div class="container" *ngIf="user">
    <div style="color: rgb(20, 131, 196);">
      <h1 style="padding-top: 1em">Users</h1>
      <h6 style="margin-bottom: 2em">Personal Information</h6>
    </div>
    <div class="row" style="margin-bottom: 3em">
    <div class="col-sm-2">
      <img [src]="user.picture.large"
           alt=""
           class="img-responsive rounded-circle"
           style="max-height: 90px">
    </div>
      <div class="col-sm-10" style="padding-top: 3em" style="color: #0c579e;">
        Change Profile Picture
      </div>
    </div>
    <div class="container" style="color: hsl(226, 96%, 53%);">
      <div class="row">
        <label class="col-sm-2" style="color:black;">Title</label>
        <div class="box col-sm-4">{{user.name.title}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">First Name</label>
        <div class="box col-sm-4">{{user.name.first}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">Last Name</label>
        <div class="box col-sm-4">{{user.name.last}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">Phone</label>
        <div class="box col-sm-4">{{user.phone}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">City</label>
        <div class="box col-sm-4">{{user.location.city}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">State</label>
        <div class="box col-sm-4">{{user.location.state}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">Email</label>
        <div class="box col-sm-4">{{user.email}}
        </div>
      </div>
    
      <div class="row">
        <label class="col-sm-2" style="color:black;">DOB</label>
        <div class="box col-sm-4">{{user.dob.date}}
        </div>
      </div>
    </div>
    </div>
    
    
    